<div class="container mt-4">
  <h2>{{ isEditMode ? 'Editar Usuario' : 'Crear Nuevo Usuario' }}</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <div class="mb-3">
    <input type="text" [(ngModel)]="user.name" placeholder="Nombre" class="form-control" />
    <input type="email" [(ngModel)]="user.email" placeholder="Email" class="form-control mt-2" />

    <div *ngIf="!isEditMode">
      <input type="password" [(ngModel)]="user.password" placeholder="Contraseña" class="form-control mt-2" />
    </div>

    <select [(ngModel)]="user.role" class="form-control mt-2">
      <option [ngValue]="Role.ADMIN">Administrador</option>
      <option [ngValue]="Role.USER">Usuario</option>
    </select>

    <button (click)="saveUser()" class="btn btn-primary mt-2">{{ isEditMode ? 'Editar Usuario' : 'Crear Nuevo Usuario' }}</button>
    <button (click)="goBack()" class="btn btn-secondary mt-2">Regresar</button>
  </div>
</div>
