<div class="container mt-4">
  <h2>{{ isEditMode ? 'Editar Estado' : 'Crear Nuevo Estado' }}</h2>
  @if (errorMessage) {
  <div class="alert alert-danger">{{ errorMessage }}</div>
  }

  <div class="mb-3">
    <input type="text" [(ngModel)]="status.name" placeholder="Status Name" class="form-control" />
    <button (click)="saveStatus()" class="btn btn-primary mt-2">{{ isEditMode ? 'Editar Estado' : 'Crear Nuevo Estado'
      }}</button>
    <button (click)="goBack()" class="btn btn-secondary mt-2">Regresar</button>
  </div>
</div>
